/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables */
:root {
  /* colors */
  --black: #222;
  --white: #fff;
  --primary-pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  /* spacing */
  --max-width: 1000px;
  --section-spacing: 5rem 2rem;
  --gap: 5rem;
  --footer-spacing: 0.8em 0;
  /* radius */
  --btn-radius: 5rem;
  --block-radius: 2rem;
  /* shadows */
  --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, .1);
  /* transitions */
  --main-transition: all 0.3s ease-in-out;
  /* font sizes */
  --heading: 3rem;
  --lead: 1.7rem;
  --small: 1.4rem;
}

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-100);
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utilities */
.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--section-spacing);
}

/* buttons */
.btn {
  display: inline-block;
  padding: 1.1rem 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  box-shadow: var(--main-shadow);
  transition: var(--main-transition);
  outline: 0;
  border-radius: var(--btn-radius);
  font-size: 1.3rem;
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.5rem);
}

.btn--primary {
  color: var(--black);
  background-color: var(--white);
}

.btn--cta {
  background-color: var(--primary-pink);
  color: var(--white);
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.preloader__bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
}

.preloader__content {
  position: absolute;
  display: grid;
  place-items: center;
}

.preloader__heading {
  font-size: var(--heading);
  color: var(--primary-pink);
  z-index: 2000;
  pointer-events: none;
}

.preloader__spinner {
  width: 300px;
  height: 300px;
  position: relative;
}

.preloader__half-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px double transparent;
  border-top-color: var(--primary-pink);
  border-radius: 50%;
  animation: spinnerOne 1.5s linear infinite;
}

.preloader__half-circle:nth-child(2) {
  border: 10px double transparent;
  border-bottom-color: var(--primary-pink);
  animation: spinnerTwo 1.5s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* header */
.header {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

/* nav */
.nav {
  background-color: transparent;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 15rem;
}

/* hero */
.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap);
}

.hero__heading {
  font-size: var(--heading);
  color: var(--dark-cyan);
}

.hero__desc {
  font-size: var(--lead);
  padding: 2rem 0;
  color: var(--dark-cyan);
}

/* blocks */
.block {
  padding: 5rem 0;
  margin: 5rem 0;
  box-shadow: var(--main-shadow);
  border-radius: var(--block-radius);
}

.block__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: var(--gap);
  padding: 2rem 5rem;
}

.block__heading {
  font-size: var(--heading);
  color: var(--dark-cyan);
}

.block__desc {
  font-size: var(--lead);
  margin-top: 2rem;
  color: var(--grayish-blue);
}

/* cta */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: var(--block-radius);
  box-shadow: var(--main-shadow);
  width: 65vw;
  margin: 0 auto;
  transform: translateY(10rem);
}

.cta__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cta__heading {
  font-size: var(--heading);
  color: var(--dark-cyan);
  margin-bottom: 2rem;
}

/* footer */
.footer {
  background-color: var(--dark-cyan);
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
  padding-top: 20rem;
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--footer-spacing);
}

.footer__icon {
  font-size: var(--lead);
  color: var(--white);
}

.footer__icon:nth-child(1) {
  margin-right: 2.5rem;
}

.footer__desc {
  font-size: var(--small);
  color: var(--white);
  justify-content: flex-end;
}

.footer__item {
  padding: var(--footer-spacing);
}

.footer__link {
  color: var(--white);
  font-size: var(--small);
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer__social {
  padding: 0.5rem;
  border: 0.1rem solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  transition: var(--main-transition);
}

.footer__social:hover,
.footer__social:focus {
  background-color: var(--white);
}


.footer__social-icon {
  color: var(--white);
  font-size: var(--lead);
  transition: var(--main-transition);
}

.footer__social:hover .footer__social-icon,
.footer__social:focus .footer__social-icon {
  color: var(--black);
}

/* tag */
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  background-color: var(--black);
}

.tag__heading {
  font-size: var(--small);
  color: var(--white);
}

.tag__link {
  color: var(--primary-pink);
  outline: 0;
}

.tag__link:hover,
.tag__link:focus {
  text-decoration: underline;
}

/* media queries */
@media(max-width: 800px) {
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 660px) {
  .header {
    height: auto;
  }

  .hero__content {
    grid-template-columns: 1fr;
  }

  .block__content {
    grid-template-columns: 1fr;
  }

  .cta {
    width: 90vw;
  }
}

@media(max-width: 530px) {
  .cta {
    transform: translateY(0);
    margin-bottom: 5rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
    padding-top: 5rem;
  }

  .footer__contact {
    justify-content: flex-start;
  }
}

@media(max-width: 360px) {
  html {
    font-size: 55.5%;
  }

  .block {
    padding: 2rem;
  }

  .block__content {
    padding: 2rem;
  }
}