/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables */
:root {
  /* colors */
  --primary-pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  /* spacing */
  --max-width: 1000px;
}

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-100);
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utilities */
.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem 2rem;
}