/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* variables */
:root {
  /* colors */
  --black: #222;
  --white: #fff;
  --primary-pink: hsl(322, 100%, 66%);
  --pale-cyan: hsl(193, 100%, 96%);
  --dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  /* spacing */
  --max-width: 1000px;
  --section-spacing: 5rem 2rem;
  /* radius */
  --btn-radius: 5rem;
  --block-radius: 2rem;
  /* shadows */
  --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, .1);
  /* transitions */
  --main-transition: all 0.3s ease-in-out;
  /* font sizes */
  --heading: 3rem;
  --lead: 1.7rem;
}

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-100);
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utilities */
.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--section-spacing);
}

/* components */
.btn {
  display: inline-block;
  padding: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  box-shadow: var(--main-shadow);
  transition: var(--main-transition);
  outline: 0;
  border-radius: var(--btn-radius);
  font-size: 1.3rem;
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.5rem);
}

.btn--primary {
  color: var(--black);
  background-color: var(--white);
}

.btn--cta {
  background-color: var(--primary-pink);
  color: var(--white);
}

.block {
  padding: 5rem 0;
  margin: 5rem 0;
  box-shadow: var(--main-shadow);
  border-radius: var(--block-radius);
}

.block__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  padding: 2rem 5rem;
}

.block__heading {
  font-size: var(--heading);
}

.block__desc {
  font-size: var(--lead);
  margin-top: 2rem;
  color: var(--grayish-blue);
}

/* header */
.header {
  background-color: var(--pale-cyan);
  height: 100vh;
}

/* nav */
.nav {
  background-color: transparent;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 15rem;
}

/* hero */
.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero__heading {
  font-size: var(--heading);
}

.hero__desc {
  font-size: var(--lead);
  padding: 2rem 0;
}